<div class="footer-content d-flex flex-row w-100 h-100 p-0 m-0">
  <div class="flex-grow-1">
    &copy; Snorkelology 2022, All Rights Reserved
  </div>
  <a href="https://twitter.com/snorkelology">
    <img src="../../assets/twitter.png" class="sm-image py-1 px-1">
  </a>

  <a href="https://www.instagram.com/snorkelology/">
    <img src="../../assets/instagram.png" class="sm-image py-1 px-1">
  </a>

  <img src="../../assets/email.png" class="sm-image py-1 px-1" title="hello@snorkelology.co.uk (clik to copy to  your clipboard)" (click)="showToast()">
</div>
